[data-md-color-scheme="humboldt"] {
  --md-primary-fg-color:        #e84a5f;
  --md-accent-fg-color:         #e84a5f;
  --md-typeset-a-color:         #e84a5f;
  --md-footer-bg-color:         #22231c;
}
